.classpath
.project
.settings
.idea/
.iml/
.DS_Store
/ambari-admin/src/main/resources/ui/admin-web/dist
/ambari-admin/src/main/resources/ui/admin-web/.tmp
/ambari-server/derby.log
/ambari-server/pass.txt
/ambari-web/npm-debug.log
/ambari-web/brunch_ambari_web.log
/ambari-web/config.coffee
/ambari-web/app/config.js
/ambari-web/public/
/ambari-admin/src/main/resources/ui/admin-web/gulp_ambari_admin.log
/ambari-admin/src/main/resources/ui/admin-web/gulpfile*
node_modules
/ambari-admin/src/main/resources/ui/admin-web/node
/target
target
*.iml
*.pyc
*.py~
.hg
.hgignore
.hgtags
derby.log
pass.txt
ambari-agent/src/test/python/ambari_agent/dummy_files/current-stack
velocity.log*
ambari-metrics/ambari-metrics-host-monitoring/src/main/python/psutil/build/


/contrib/views/capacity-scheduler/src/main/resources/ui/brunch_ambari_web.log
/contrib/views/capacity-scheduler/src/main/resources/ui/pass.sh
